<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checoslovaquia</title>

    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='img/flag.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <section>
        <iframe class="map" src="https://earth.motfe.net/overviews/earth_1-750_overview/unmined.index.html"
            frameborder="0"></iframe>
        <!--https://earth.motfe.net/overviews/earth_1-750_overview/unmined.index.html-->
        <iframe class="widget" src="https://discord.com/widget?id=1018676558652776558&theme=dark" frameborder="0"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </section>
    <!--<footer>
        <a rel="noopener" href="https://discord.gg/egWBWyr2Bv" target="_blank"><img
                src="{{ url_for('static', filename='img/flag.png') }}" alt="flag"> Checoslovaquia</a>,<a
            rel="noopener" href="https://discord.gg/tricraft-1011686826718789683" target="_blank">Tricraft</a> | Mapa de
        escala 1:750
        hecho por
        <a rel="noopener" href="https://earth.motfe.net/" target="_blank">Minecraft earth map</a> y renderizado por
        <a rel="noopener"
            href="https://www.spigotmc.org/resources/liveatlas-alternative-map-ui-dynmap-squaremap-pl3xmap-overviewer.86939/"
            target="_blank">Liveatlas</a>.
    </footer>-->

</body>

</html>